    name: Build and Deploy to S3

    on:
      push:
        branches:
          - main # Trigger on pushes to the main branch
    permissions:
          id-token: write   # This is required for requesting the JWT
          contents: read  
    jobs:
      build:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout quartz
            uses: actions/checkout@v4
            with:
              repository: jackyzha0/quartz
              path: ./quartz
              ref: ec26ebcc9e53f67f6242266556ed13445e2f9688
          - name: Checkout vault
            uses: actions/checkout@v4
            with:
              path: ./vault
          - name: Install Node
            uses: actions/setup-node@v6
            with:
              node-version: 24
          - name: Install Quartz
            run: npm install
            working-directory: ./quartz
          - name: Copy Quartz config
            run: cp ./vault/.quartz/* ./quartz/
          - name: Build from quartz
            run: npx quartz build -d ../vault -o ../output
            working-directory: ./quartz
          - name: Copy favicon
            run: cp ./vault/attachments/favicon.ico ./output/favicon.ico
          - name: Copy icon
            run: cp ./vault/attachments/icon.png ./output/static/icon.png
          - name: Upload artifact
            uses: actions/upload-artifact@v4
            with:
              name: build-output
              path: ./output/
              retention-days: 7

      deploy:
        runs-on: ubuntu-latest
        needs: build
        steps:
          - name: Download artifact
            uses: actions/download-artifact@v4
            with:
              name: build-output
              path: ./output
          - name: configure aws credentials
            uses: aws-actions/configure-aws-credentials@v1.7.0
            with:
              role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
              role-session-name: "GitHub_to_AWS_via_FederatedOIDC"
              aws-region: ${{ secrets.AWS_REGION }}

          - name: Sync files to S3 bucket
            run: |
              aws s3 sync ./output/ s3://${{ secrets.AWS_S3_BUCKET }}/

          - name: Invalidate the CloudFront cache
            run: |
              aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"
